In [ ]:
# !pip install pyarrow

In [1]:
import pandas as pd
import sys
sys.path.append('../src')

In [2]:
sys.path

['/Users/work/Documents/quant/quant_ML/notebooks',
 '/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python39.zip',
 '/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9',
 '/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/lib-dynload',
 '',
 '/Users/work/Library/Python/3.9/lib/python/site-packages',
 '/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages',
 '../src']

In [8]:
def cleaning_data(path):
    df = pd.read_csv(path,
                    header=None,
                    names=['day','time','price','bid','ask','vol'])
    df['date'] = pd.to_datetime(df['day'] + df['time'],format='%m/%d/%Y%H:%M:%S')
    df['dollar_vol'] = df['price']*df['vol']
    df = df.set_index('date')
    df = df.drop(['day', 'time'],
                    axis=1)
    df = df.drop_duplicates()
    return df
# df = cleaning_data("../src/data/IVE_tickbidask.txt")
# df.to_parquet("../src/data/IVE_tickbidask.parquet")

In [13]:
df.head()

                     price    bid    ask  vol  dollar_vol
date
2009-09-28 09:30:00  50.79  50.70  50.79  100     5079.00
2009-09-28 09:30:00  50.71  50.70  50.79  638    32352.98
2009-09-28 09:31:32  50.75  50.75  50.76  100     5075.00
2009-09-28 09:31:33  50.75  50.72  50.75  100     5075.00
2009-09-28 09:31:50  50.75  50.73  50.76  300    15225.00

In [ ]:
#get API keys 
with open('/Users/work/Documents/quant/quant_ML/config.json') as f:
    config = json.load(f)
    apiPublicKey = config['public_key']
    apiPrivateKey = config['private_key']
api = krakenex.API()
k = KrakenAPI(api)
ohlc, last = k.get_ohlc_data("ETHEUR")
print(ohlc)